.form-input {
   display: flex;
   justify-content: space-between;
   width: 100%;
}

.form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
