.form-input {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
   width: 100%;
}

.form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

input {
    text-align: center;
}

.input-grid {
    display: grid;
    gap: 1.5rem; /* spacing between inputs */
    width: 100%;
    padding: 1rem 0;
}

@media (max-width: 768px) {
    .input-grid {
        grid-template-columns: 1fr; /* stack inputs on small screens */
    }
}
